{% extends "events/event_list.html" %}

{% block title %}
   Edit - {{ event.name }}
{% endblock %}

{% block content %}
     <div class="container">
    <!-- Breadcrumb -->
    <nav class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard'%}">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'list_user_events' %}">My Events</a>
            </li>
        </ol>
    </nav>
</div>
    <div class="container centre">
    <h2>Edit Event: {{ event.name }}</h2>
    </div>
<div class="container">
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Save Changes</button>
        <a href="{% url 'list_user_events' %}" class="btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
