{% extends 'base.html' %}
{% block title %}
    {{ event.name }}
{% endblock %}

{% block keyword %}
    {{ event.name }}
{% endblock %}

{%  block description %} {{ event.description }} {% endblock %}
{% block content %}
    <div class="container">
    <!-- Breadcrumb -->
    <nav class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'event_list' %}">Events</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
        </ol>
    </nav>
</div>
    <div class="container">
    <div class="col-3">
           <h2 class="my-1">{{event.name}}</h2>
     <p class="my-1">Event description : {{ event.description }}</p>
         <p class="m-1 centre2">
            <i class="fa-solid fa-calendar-days"></i>{{ event.date }} <br>
            <i class="fa-solid fa-clock"></i>{{ event.time }} <br>
            <i class="fa-solid fa-location-dot"></i>{{ event.location }}
          </p>
            <img class="hero-img" src="{{ event.image.url }}" alt="{{ event.title }}">
        </div>
   
    <div class="col-40">
        
        
        
    <h2 class="my-1">Book This Event</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
          <label for="total_price">Total Price:</label>
    <span id="total_price"></span>
        <button type="submit" class="btn-primary">Book Now</button>
        
    </form>
   <div class="container">
     {% if messages %}
        <div>
            {% for message in messages %}
                <p class="success">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
    </div>
    
    
{% endblock %}