{% extends "events/event_list.html" %}
{% block title %}{{ event.name }}{% endblock %}

{% block keyword %}{{ event.name }}{% endblock %}

{%  block description %} {{ event.description }}{% endblock %}
{% block content %}
    <div class="container my-1">
    <!-- Breadcrumb -->
    <nav class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
        </ol>
    </nav>
</div>
    <div class="container">
    <div class="col-3">
           <h2>{{event.name}}</h2>
         <p class="centre2 my-1">
            <i class="fa-solid fa-calendar-days"></i>{{ event.date }} <br>
            <i class="fa-solid fa-clock"></i>{{ event.time }} <br>
            <i class="fa-solid fa-location-dot"></i>{{ event.location }}
          </p>
            <img class="hero-img" src="{{ event.image.url }}" alt="{{ event.title }}">
        <p class="my-1"><b> Event description : </b> <br> {{ event.description }}</p>
        </div>
   
    <div class="col-40">
        <div class="container">
     {% if messages %}
        <div>
            {% for message in messages %}
                <p class="success">{{ message|safe }}</p>
            {% endfor %}
        </div>
    {% endif %}
    </div>
        
        
    <h2 class="m-1">Book This Event</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
          <label for="total_price">Total Price:</label>
    <span id="total_price"></span>
        <button type="submit" class="btn-primary">Book Now</button>
        
    </form>
   <div class="social-sharing">
    <h3>Share this Event:</h3>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
       target="_blank" class="border-none btn btn-facebook">
        <i class="fa-brands fa-facebook"></i> Share on Facebook
    </a>
    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ event.title }}"
       target="_blank" class="border-none btn btn-twitter">
        <i class="fa-brands fa-twitter"></i> Share on Twitter
    </a>
    <a href="https://api.whatsapp.com/send?text={{ event.title }}: {{ request.build_absolute_uri }}"
       target="_blank" class="border-none btn btn-whatsapp">
        <i class="fa-brands fa-whatsapp"></i> Share on WhatsApp
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"
       target="_blank" class="border-none btn btn-linkedin">
        <i class="fa-brands fa-linkedin"></i> Share on LinkedIn
    </a>
</div>

</div>
    </div>

{% endblock %}