{% include 'base.html' %}
    <main>

<div class="swiper">
  <div class="swiper-wrapper">
   {% for event in recent_events %}
    <div class="swiper-slide">
      <div class="container">
        <div class="col-3">
          <img class="hero-img" src="{{ event.image.url }}" alt="{{ event.name }}" />
        </div>
        <div class="col-40 centre">
          <span><i class="fa-solid fa-layer-group"></i> {{ event.category }}</span>
          <h2>{{ event.name }}</h2>
          <p>
            <i class="fa-solid fa-calendar-days"></i> {{ event.date }}
            <i class="fa-regular fa-clock"></i> {{ event.time }}
            <i class="fa-solid fa-location-dot"></i> {{ event.location }}
          </p>
          <a href="event_detail/{{event.id}}" class="btn-primary" type="button">Book ticket</a>
        </div>
      </div>
    </div>
    {% empty %}
    <p>No Recent events available for the slider.</p>
    {% endfor %}
  </div>
  <!-- Add Pagination if needed -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation if needed -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

    <div class="container">
      <h2>Popular/upcoming events</h2>
    </div>
      <div class="container">
       {% for event in page_obj %}
            <div class="card">
        <a class="border-none" href="event_detail/{{event.id}}">
          <img src="{{ event.image.url }}" alt="{{ event.name }}" />
          <h2>{{ event.name }}</h2>
            </a>
                <p class="m-1"><strong><i class="fa-solid fa-layer-group"></i></strong> {{ event.category }}</p>
          <p class="m-1"> <strong><i class="fa-solid fa-calendar-days"></i> </strong> {{ event.date }}</p>
          <p class="m-1"><strong><i class="fa-regular fa-clock"></i></strong> {{ event.time }}</p>
         <p class="m-1"><strong><i class="fa-solid fa-location-dot"></i></strong> {{ event.location }}</p>
        
      </div>
{#        <div class="card">#}
{#          <img src="{{ event.image.url }}" alt="{{ event.name }}" />#}
{#          <h2>{{ event.name }}</h2>#}
{#          <p><strong>Category:</strong> {{ event.category }}</p>#}
{#          <p><strong>Date:</strong> {{ event.date }}</p>#}
{#          <p><strong>Time:</strong> {{ event.time }}</p>#}
{#          <p><strong>Location:</strong> {{ event.location }}</p>#}
{#          <p>{{ event.description }}</p>#}
{#        </div>#}
        {% empty %}
        <p>No events available.</p>
        {% endfor %}
      </div>
    <!-- Pagination Controls -->
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
  </span>
</div>
    </main>

