{% extends 'events/event_list.html' %}
{% block title %}
   Register
{% endblock %}

{% block content %}
    <div class="container">
     {% if form.errors %}
        <div class="error-message">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <div class="container centre">
    <h2>Sign Up</h2>
    </div>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Sign Up</button>
        <a href="{% url 'login' %}">Already have an account? Login..</a>
    </form>
</div>
{% endblock %}
