{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tivents - Event booking system</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css '%} " />
    <link rel="stylesheet" href="{% static 'css/datatables.min.css '%} " />
        <script src="{% static 'js/swiper-bundle.min.js' %} "></script>
    <link rel="stylesheet" href="{% static 'font-awsome/all.min.css '%} " />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
{% include 'navbar.html' %}

{% block content %}
    
{% endblock %}
  <button class="scroll-to-top-btn" onclick="scrollToTop()">↑</button>

    <script src=" {% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src=" {% static 'js/datatables.min.js' %}"></script>
    <script src=" {% static 'js/script.js' %}"></script>
</body>
</html>