 <header>
     <nav class="nav menu-lg">
        <div class="menu">
          <div class="item">
            <h2 class=""><a href="/">Tivents</a></h2>
          </div>
          <div class="item">
            <ul class="">
              <li class="nav-li"><a href="/">Home</a></li>
              <li class="dropdown nav-li" id="dropdown">
                <a href="#">Categories</a><i class="fa fa-caret-down"></i>
                <ul id="dropdown-items" class="dropdown-items hidden">
                  <li class="nav-li">
                    <a href="#" target="_blank" rel="noopener noreferrer"
                      >Music</a
                    >
                  </li>
                  <li class="nav-li">
                    <a href="#" target="_blank" rel="noopener noreferrer"
                      >Comedy</a
                    >
                  </li>
                  <li class="nav-li">
                    <a href="#" target="_blank" rel="noopener noreferrer"
                      >Tech</a
                    >
                  </li>
                  <li class="nav-li">
                    <a href="#" target="_blank" rel="noopener noreferrer"
                      >Professional</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-li"><a href="#">About</a></li>
              <li class="nav-li"><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="item">
            <form class="searchForm" action="{% url 'search_results' %}" method="get">
              <input
                class="searchinput"
                placeholder="Search Events..."
                type="text"
                name="q"
                id="searchform"
                autocomplete="off"
              />
              <button class="btn-search" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
          <div class="item">
            <div class="dropdown nav-li" id="user-dropdown">
            
                <a href="#">
                  <button class="btn-primary-outline">  
            <i class="fa fa-user"></i> <!-- User Icon --> <i class="fa fa-caret-down"></i>
                      </button>
        </a>
        <ul id="user-dropdown-items" class="dropdown-items hidden">
            {% if user.is_authenticated %}
                <li><a href="{% url 'list_user_events' %}">My Events</a></li>
                <li><a href="{% url 'add_event' %}">Add Events</a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
            <button
              type="button"
              class="btn-primary-outline"
              onclick="darkmode()"
            >
              <i class="fa fa-moon"></i>
            </button>
          </div>
        </div>
      </nav>
</header>
<header>
    <nav class="nav mobile-menu">
        <div class="menu">
          <div class="item">
            <a class="logo border-none" href="/">Tivents</a>
          </div>
          <div class="item">
            <div class="dropdown nav-li" id="user-dropdown">
        <a href="#">
            <button class="btn-primary-outline" type="button">
                <i class="fa fa-user"></i> <!-- User Icon --> 
            </button>
            
        </a>
        <ul id="user-dropdown-items" class="dropdown-items hidden">
            {% if user.is_authenticated %}
                <li><a href="{% url 'list_user_events' %}">My Events</a></li>
                <li><a href="{% url 'add_event' %}">Add Events</a></li>
                <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
            <button
              type="button"
              class="btn-primary-outline"
              onclick="darkmode()"
            >
              <i class="fa fa-moon"></i>
            </button>

            <button
              type="button"
              class="btn-primary-outline hamburger"
              onclick="menutoggle()"
            >
              <i id="hamburgerIcon" class="fa fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="menu-content hidden">
          <ul class="menu-list">
            <li class="nav-li"><a href="#">Home</a></li>
            <li class="dropdown nav-li"><a href="#">Categories</a></li>
            <li class="nav-li"><a href="#">About</a></li>
            <li class="nav-li"><a href="#">Contact</a></li>
          </ul>
          <form class="searchForm" action="{% url 'search_results' %}" method="get">
            <input
              class="searchinput"
              placeholder="Search Events..."
              type="text"
              name="q"
              id="searchform"
              autocomplete="off"
            />
            <button class="btn-search" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </nav>
</header>
      